body {
  background-color: #EFF2F1;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.card {
  border-color: #EFF2F1;
  padding: 10px;
}

.i-search {
  font-size: 10pt;
}

h1,
h2,
h3,
h4 {
  line-height: 20pt;
  font-family: "Work Sans", sans-serif;
}

h2: first-letter {
  text-transform: capitalize;
}

h4 {
  text-align: left;
  color: #adb5bd;
}

h1,
h3 {
  font-weight: 600;
  font-size: 25pt;
}

h2,
h4 {
  font-weight: 300;
  font-size: 20pt;
}

h5 {
  font-weight: 300;
  font-size: 15pt;
  color: #88CFF8;
}

.active {
  color: #000);
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color:#88CFF8;
}

.i-icons {
  color: #fca311;
  font-size: 40pt;
  line-height: 40pt;
}

p {
  font-family: "Work Sans", sans-serif;
padding-top: 0;
margin-top:0;}

.note {
  color:gray;
  margin: 10px;
}

.note a {
  color: #fca311;
  text-decoration: none;
}

.btn-outline-warning {
  border-color: #fca311;
}

.btn-outline-warning:hover {
  color: #fca311;
}

.day {
  line-height: 30pt;
}

.temp {
  line-height: 0pt;
  color: #adb5bd;
}
